/*style.scss*/
/********************************

variables

*********************************/
/*************************************


mixins


**************************************/
/****************************************

This is content generalized to all pages

*****************************************/
/* line 88, ../sass/style.scss */
body {
  background: #45484d;
  background-image: url("../images/frontbackground.png");
  background-size: cover;
}
/* line 101, ../sass/style.scss */
body h1, body h2 {
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}


/* line 104, ../sass/style.scss */
body h3 {
  color: #4DA2B8;
  font-size: 125%;
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}
/* line 110, ../sass/style.scss */
body h4, body h5, body h6 {
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-size: 125%;
}
/* line 115, ../sass/style.scss */
body p, body li {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 125%;
}
/* line 121, ../sass/style.scss */
body a:link {
  color: #0B7761;
  text-decoration: none;
  font-size: 125%;
  text-shadow: 1px 1px 2px #000000;
  text-shadow: 1px 1px 2px #000000;
  text-shadow: 1px 1px 2px #000000;
  text-shadow: 1px 1px 2px #000000;
}
/* line 122, ../sass/style.scss */
body a:visited {
  color: #0B7761;
  font-size: 125%;
  text-decoration: none;
}
/* line 123, ../sass/style.scss */
body a:hover {
  color: #000000;
  font-size: 125%;
  text-decoration: none;
}
/* line 124, ../sass/style.scss */
body a:active {
  color: #0B7761;
  font-size: 125%;
  text-decoration: none;
}

/* line 137, ../sass/style.scss */
#outerwrapper {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  background-color: snow;
 
}

/* line 146, ../sass/style.scss */
#header {
  width: 960px;
  position: relative;
  height: 50px;
  margin: 0px;
  padding-left: 20px;
  padding-right: 20px;
  background: #eeeeee;
  /* Old browsers */
  background: -moz-linear-gradient(top, #eeeeee 26%, #cccccc 64%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(26%, #eeeeee), color-stop(64%, #cccccc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #eeeeee 26%, #cccccc 64%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #eeeeee 26%, #cccccc 64%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #eeeeee 26%, #cccccc 64%);
  /* IE10+ */
  background: linear-gradient(to bottom, #eeeeee 26%, #cccccc 64%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
  /* IE6-9 */
  margin-left: auto;
  margin-right: auto;
  
}
/* line 43, ../sass/style.scss */
#header h1, #header h2, #header h3, #header h4, #header h5, #header h6, #header img, #header a {
  vertical-align: middle;
  position: relative;
  top: 7px;
}
/* line 150, ../sass/style.scss */
#header img {
  position:absolute;
  height: 50px;
  top:0px;
}

/* line 160, ../sass/style.scss */
.linav {
  display: inline-block;
  text-decoration: none;
}

/* line 167, ../sass/style.scss */
.ulnav {
  position: relative;
  top: -35px;
  text-decoration: none;
}

/* line 173, ../sass/style.scss */
#subheader {
  width: 960px;
  position: relative;
  height: 50px;
  margin: 0px;
  padding-left: 20px;
  padding-right: 20px;
  background: #eeeeee;
  /* Old browsers */
  background: -moz-linear-gradient(top, #eeeeee 26%, #cccccc 64%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(26%, #eeeeee), color-stop(64%, #cccccc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #eeeeee 26%, #cccccc 64%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #eeeeee 26%, #cccccc 64%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #eeeeee 26%, #cccccc 64%);
  /* IE10+ */
  background: linear-gradient(to bottom, #eeeeee 26%, #cccccc 64%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
  /* IE6-9 */
  margin-left: auto;
  margin-right: auto;
  top:-8px;
 
}
/* line 43, ../sass/style.scss */
#subheader h1, #subheader h2, #subheader h3, #subheader h4, #subheader h5, #subheader h6, #subheader img, #subheader a {
  vertical-align: middle;
  position: relative;
  top: 7px;
  margin-left: 47px;
}

/* line 186, ../sass/style.scss */
#tipuesearch {
  position: relative;
  float: right;
  width: 300px;
  top: -35px;
  right: 100px;
}

/* line 196, ../sass/style.scss */
#nav {
  position: relative;
  top: -60px;
  right: 200px;
  float: right;
  z-index: 1;
}
/* line 203, ../sass/style.scss */
#nav img {
  height: 35px;
}

/*******************************

this is content from the main home page.

*******************************/
/* line 219, ../sass/style.scss */
#user {
  position: relative;
  background-color: #fffafa;
  float: right;
  width: 255px;
  height: 1280px;
  padding: 10px;
  border-left: 1px solid #666666;
}

/* line 233, ../sass/style.scss */
#highlight {
  position: relative;
  float: left;
  width: 720px;
  height: 500px;
}

/* line 245, ../sass/style.scss */
#search {
  position: relative;
  float: left;
  width: 720px;
  height: 800px;
}

/* line 256, ../sass/style.scss */
.inside {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-color: snow;
  width: 95%;
  height: 95%;
  padding: 20px;
}

/********************  rank page specific items bellow this line

******************************************************************/
/* line 271, ../sass/style.scss */
#itemset {
  float: left;
  background-color: snow;
  width: 400px;
  padding: 20px;
  margin: 20px;
}
/* line 279, ../sass/style.scss */
#itemset table {
  position: relative;
  left: -10px;
}

/* line 285, ../sass/style.scss */
#rank {
  position: relative;
  float: right;
  width: 400px;
  z-index: -3;
  background-color: snow;
  padding: 20px;
  margin: 20px;
}
/* line 295, ../sass/style.scss */
#rank table {
  position: relative;
  left: -10px;
}

#overrank {
  position: relative;
  float: right;
  width: 400px;
  z-index: -3;
  background-color: snow;
  padding: 20px;
  margin: 20px;
}

#overrank table {
  position: relative;
  left: -10px;
}

/* line 300, ../sass/style.scss */
#comment {
  background-color: snow;
  float: left;
  width: 400px;
  padding: 20px;
  margin: 20px;
  height: 400px;
  overflow: scroll;
}
/* line 308, ../sass/style.scss */
#comment table {
  position: relative;
  left: -10px;
  left: -15px;
  border: none;
  padding: 5px;
}

/* line 322, ../sass/style.scss */
#top {
  position: relative;
  width: 400px;
}

/* line 328, ../sass/style.scss */
#high {
  position: relative;
  width: 400px;
}

/* line 334, ../sass/style.scss */
#low {
  position: relative;
  width: 400px;
}

/* line 340, ../sass/style.scss */
#shit {
  position: relative;
  width: 400px;
}

/* line 348, ../sass/style.scss */
.item {
  position: relative;
  width: 78px;
  height: 78px;
  border: 3px solid #ffffff;
  left: -3px;
  top: -3px;
  border-radius: 1px;
}

/* line 359, ../sass/style.scss */
.socket {
  width: 72px;
  height: 72px;
  border-style: dashed;
  border-width: 3px;
  border-color: #908c7c;
  margin: 10px;
}
/* line 366, ../sass/style.scss */
.socket img {
  width: auto;
  max-width: 78px;
  height: auto;
  max-height: 78px;
}

/* line 373, ../sass/style.scss */
.slot {
  width: 72px;
  height: 72px;
  float: left;
  border-style: dashed;
  border-width: 3px;
  border-color: #908c7c;
  margin: 10px;
}
/* line 381, ../sass/style.scss */
.slot img {
  width: 78px;
}

/******************************************

This section is for things specific to the profile page

*********************************************/
/* line 392, ../sass/style.scss */
#profile {
  padding: 20px 100px;
}
/* line 393, ../sass/style.scss */
#profile h2 {
  font-size: 300%;
  margin: 10px 0px;
}
/* line 397, ../sass/style.scss */
#profile h3, #profile h4, #profile h5, #profile h6 {
  font-size: 200%;
}
/* line 399, ../sass/style.scss */
#profile p {
  font-size: 150%;
}

.cent
{
  text-align: center;
}

.biggerer
{
  font-size: 100%;
}

/************************************************** 

This section pertains to the sitemap on the front page

***********************************************/
/* line 416, ../sass/style.scss */
.content {
  background: snow;
  width: 500px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 424, ../sass/style.scss 
a:hover {
  color: #0062A0;
  text-decoration: underline;
}*/

/* line 430, ../sass/style.scss */
ul.menu, .item-list ul {
  margin: 0.35em 0 0 -0.5em;
  /* LTR */
  padding: 0;
}

/* line 434, ../sass/style.scss */
ul.menu ul, .item-list ul ul {
  margin-left: 0em;
  /* LTR */
}

/* line 438, ../sass/style.scss */
ol li, ul li, ul.menu li, .item-list ul li, li.leaf {
  margin: 0.15em 0 0.15em .5em;
  /* LTR */
}

/* line 442, ../sass/style.scss */
ul.menu li, .item-list ul li, li.leaf {
  padding: 0 0 .2em 1.5em;
  list-style-type: none;
  list-style-image: none;
  background: transparent url(../images/menu-leaf.gif) no-repeat 1px 0.35em;
  /* LTR */
}

/* line 449, ../sass/style.scss */
.cat_close {
  background-image: url(../images/menu-collapsed.gif);
  background-repeat: no-repeat;
  background-position: left;
}

/* line 454, ../sass/style.scss */
.cat_open {
  background-image: url(../images/menu-expanded.gif);
  background-repeat: no-repeat;
  background-position: left;
}

/* line 459, ../sass/style.scss */
.product {
  background-image: url(../images/menu-leaf.gif);
  background-repeat: no-repeat;
  background-position: left;
}

/* line 464, ../sass/style.scss */
a.product, a.cat_close, a.cat_open {
  text-decoration: none;
}

/* line 467, ../sass/style.scss */
#block-category-0 ul li, ul.menu li, .item-list ul li, li.leaf {
  padding: 0 0 .2em .5em;
  list-style-type: none;
  list-style-image: none;
  background: transparent no-repeat 1px .35em;
  /* LTR */
}

/**********************

about page stuff

************************/
/* line 481, ../sass/style.scss */
#aboutwrapper {
  background: #cccccc url(../images/faux.png) repeat-y 50% 0;
  width: 960px;
}

/* line 493, ../sass/style.scss */
#about-left {
  width: 200px;
  padding-left: 20px;
  margin-right: 20px;
}

/* line 503, ../sass/style.scss */
#about-right {
  width: 500px;
  margin-left: 20px;
  padding-right: 20px;
}



#overrank{

  position: relative;
  float: left;
  width: 400px;
  z-index: -3;
  background-color: snow;
  padding: 20px;
  margin: 20px;

}


#overrank table {
  position: relative;
  left: -10px;
}


